// Variables

// Colors
$color-white: #fff;
$color-black: #101010;
$color-light-black: #d0cbcb;
$text-dark-grey: #d0cbcb;
$text-light-grey: #cfcfcf;
$color-transparent: transparent;

$body-color: #292929;
$spacing: 0.625rem; //10px
